# Replace values and remove `.sample` suffix from file.
ADMIN_PASSWORD=admin
PGDATABASE=demo
PGUSER=odoo
PGPASSWORD=odoo
PGHOST=db
LANG=es_ES.UTF-8
ODOO_SERVER=odoo.py
WDB_NO_BROWSER_AUTO_OPEN="True"
WDB_SOCKET_SERVER=wdb
