# Replace values and remove `.sample` suffix from file.
ADMIN_PASSWORD=admin
DATABASE=demo
DB_ENV_POSTGRES_USER=user
DB_ENV_POSTGRES_PASSWORD=password
DB_PORT_5432_TCP_ADDR=db
DB_PORT_5432_TCP_PORT=5432
LANG=es_ES.UTF-8
ODOO_SERVER=odoo.py
WDB_NO_BROWSER_AUTO_OPEN="True"
WDB_SOCKET_SERVER=wdb
