# Replace values and remove `.sample` suffix from file.
# Odoo must be configured to use `smtp` as the SMTP host.
MAIL_RELAY_HOST=smtp.gmail.com
MAIL_RELAY_USER=exampleuser@gmail.com
MAIL_RELAY_PASS=examplepass
